<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @telegram.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @telegram.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @telegram.author %>
</p>

<%= link_to 'Back', messengers_path %>
