<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slack.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @slack.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @slack.author %>
</p>

<p>
  <strong>Article:</strong>
  <%= @slack.article %>
</p>

<%= link_to 'Edit', edit_slack_path(@slack) %> |
<%= link_to 'Back', slacks_path %>
