<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @slack.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @slack.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @slack.author %>
</p>

<%= link_to 'Back', messengers_path %>
