<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hipchat.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hipchat.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @hipchat.author %>
</p>

<p>
  <strong>Article:</strong>
  <%= @hipchat.article %>
</p>

<%= link_to 'Edit', edit_hipchat_path(@hipchat) %> |
<%= link_to 'Back', hipchats_path %>
